---
---

@import "../_vendor/normalize-scss/normalize";
@import "../_vendor/bourbon/dist/bourbon";
@import "../_vendor/bitters/app/assets/stylesheets/base";
@import "../_vendor/neat/app/assets/stylesheets/neat";

$base-color: rgb(71, 116, 121);
$link-color: lighten($base-color, 10%);
$link-hover-color: darken($link-color, 20%);
$h1-color: darken($base-color, 10%);

$serif: 'PT Serif', $serif;
$article-font-size: $base-font-size * 1.15;

/* Grid styles */
.row {
  @include outer-container;
}

.large-8-centered {
  @include media(769px) {
    @include span-columns(8);
    @include shift(2);
    @include omega();
  }
}

/* Global layout & styling */
body {
  padding: 1em;

  @include media(769px) {
    padding: 1em 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}
h1 {
  color: $h1-color;
}

a {
  font-family: $serif;
  color: $link-color;
  transition: 0.25s ease-in;
  text-decoration: underline;
}

a:hover {
  color: $link-hover-color;
}

.post-link {
  font-size: 1.15em;
}

.frontpage {
  @include outer-container;

  h1, h2 {
    text-align: center;
  }

  p {
    font-size: $article-font-size;
    text-align: center;
    font-family: $serif;
  }
}

/* Post styling */
.post {
  h1 {
    text-align: center;
    font-size: $h1-font-size * 1.15;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
  }

  ul {
    font-family: $serif;
    list-style: circle;
    margin-left: 2em;
    font-size: $article-font-size;
  }

  ul ul {
    font-size: $base-font-size;
  }

  p {
    font-family: $serif;
    font-size: $article-font-size;
  }

  hr {
    margin: 1em auto;
  }

  .highlight {
    margin: 0 0 1em;
    padding: 0.5em 1em;
    background-color: #EEEEEE;
    font-size: $base-font-size * 0.9;

    @include media(769px) {
      margin: 0 1.5em 1em;
    }

    pre {
      margin: 0;
    }
  }

  h2, h3 {
    margin-top: 1em;
  }

  h2 + hr, h3 + hr {
    margin: 0.25em 0 0.5em;
    border-color: $base-color;
  }
}
