@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bitters/app/assets/stylesheets/base";
@import "../bower_components/neat/app/assets/stylesheets/neat";

$baseColor: rgb(71, 116, 121);
$linkColor: lighten($baseColor, 10%);

$serif: 'PT Serif', $serif;

.row {
  @include outer-container;
}

.large-8-centered {
  @include span-columns(8);
  @include shift(2);
}

* {
  font-family: $serif !important;
}

body {
  padding: 2em 0;
}

a {
  color: $linkColor;
  transition: 0.25s ease-in;
  text-decoration: underline;
}

a:hover {
  color: darken($linkColor, 25%);
}

.post-link {
  font-size: 1.15em;
}

h1 {
  color: darken($baseColor, 20%);
}
