---
layout: main
title: mthjones.com
---

<div class="frontpage">
    <header class="large-8-centered">
        <h1>mthjones.com</h1>
        <hr/>
    </header>

    <div class="row">
        <div class="large-8-centered">
            <h2><a href="{{site.baseurl}}/back-to-basics/">Back to Basics</a></h2>
            <p>Collection of articles about basic computer science concepts such as data structures and algorithms.</p>
            {% for post in site.posts %}
            {% if post.category == 'back-to-basics' %}
            <a href="{{post.url}}" class="article-link">{{ post.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
