<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/github.css"/>
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<header class="top-nav">
    <nav>
        <a href="{{site.baseurl}}/">mthjones.com</a>
    </nav>
</header>

<main role="main">
    {{ content }}
</main>
</body>
</html>
